### 연산자 
#### 산술연산자
- '+' 더하기
- '-' 빼기
- '*' 곱하기
- '/' 나누기
- '%' 나머지
- '//' 몫구하기
- '**' 거듭제곱

In [55]:
5 + 1

6

In [56]:
5 - 1

4

In [57]:
5 * 3

15

In [58]:
5 / 2

2.5

In [59]:
5 % 2

1

In [60]:
5 // 2

2

In [61]:
5 ** 2

25

##### 비교연산자
- '>' 크다
- '>=' 크거나같다
- '<'작다
- '<='작거나 같다
- '==' 같다
- '!=' 다르다

In [62]:
5 > 2

True

In [63]:
5 >= 2

True

In [64]:
5 < 2

False

In [65]:
5 <= 2

False

In [66]:
5 == 1

False

In [67]:
5 != 2

True

##### 논리연산자
- and : 논리 곱
- or : 논리 합
- not : 논리 부정

In [68]:
True and False

False

In [69]:
(5>2) and (5<=2)

False

In [70]:
True or False

True

In [71]:
(5 > 2) or (5 <=2)

True

In [72]:
not True

False

In [73]:
not (5<=2)

True

### 변수
데이터를 저장하는 공간
파이썬에서는 변수에 특정 데이터 타입이 존재하지 않음
즉, 하나의 변수에 여러 데이터 타입을 할당할 수 있다

In [74]:
variable = 10
variable

10

In [75]:
variable = True
variable

True

In [76]:
variable = 10.0
variable

10.0

In [77]:
#variable = 0.13
variable = .13
variable

0.13

### 데이터 타입
-정수형 
-실수형
-문자열
-논리형
-문자열

In [78]:
type(10)

int

In [79]:
type(10.0)

float

In [80]:
type(True)

bool

In [81]:
type('문자열')

str

###데이터 타입 변환
- int(): 특정 데이터룰 정수형으로 변환
- float() : 특정 데이터를 실수형으로 변환
- bool() : 특정 데이터를 논리형으로 변환
- str() : 특정데이터를 문자열로 변환

In [82]:
int (10.34)

10

In [83]:
int(False)

0

In [84]:
int('10')

10

In [85]:
float(10)

10.0

In [86]:
float(True)

1.0

In [87]:
float('10.0')

10.0

In [88]:
float('a')

ValueError: could not convert string to float: 'a'

In [ ]:
bool(10)

True

In [ ]:
bool(0)
#0을 제외한 모든 숫자는 True

False

In [ ]:
bool('')

False

In [ ]:
str(10)

'10'

In [ ]:
str(True)

'True'

### NaN, Inf
- NaN (Not a Number) : 숫자가 아님을 나타냄
- inf (infinity) : 무한대

In [ ]:
float('NaN')

nan

In [ ]:
float('Inf')

inf

In [89]:
float('-Inf')

-inf

###대입연산자
- '=' 좌항에 우항을 대입
- '+=' 좌항에 좌항값에 우항을 더한 값을 대입
- '-=' 좌항에 좌항값에 우항을 뺀값을 대입
- '*=' 좌항에 좌항값에 우항을 곱한 값을 대입
-'/=' 좌항에 좌항값에 우항을 나눈값을 대입
- '**=' 좌항에 좌항값에 우항을 거듭제곱한 값을 대입
- '//=' 좌항에 좌항값에 우항을 나눈 몫 값을 대입

##### 파이썬은 증감연산자가 없음
증감을 표현하고 싶으면  
변수 += 1,변수 -=1

In [90]:
variable = 10

In [97]:
variable += 3
variable

31

In [104]:
variable -= 3
variable

10

In [106]:
variable **= 3
variable

1000000000

In [110]:
variable //= 99
variable

10

### 문자열
- 출력 : print()함수로 문자열 출력
- 문자열 연산 : '+' 연결, '*'반복
- 타 데이터 타입과 연결 : 반드시 타 데이터 타입을 str() 형변환 함수로 변형 후 연결
- 문자열 : ' 혹은 " 로 묶어서 표현, '\n' 으로 줄바꿈 가능
- 여러 줄의 문자열 : ''' 혹은 """로 표현
- 문자열 치환 : .replace() 문자열 메서드로 특정 문자열 변경 가능
- f 문자열 : 문자열 앞에 f라는 키워드를 붙혀서 문자열의 포멧을 만들어 사용 가능

In [111]:
print('문자열')

문자열

In [115]:
string1 = '문자열1'
print(string1)
string2 = '문자열2'
print(string2)

문자열1
문자열2

In [116]:
string1+string2

'문자열1문자열2'

In [117]:
string1* 5

'문자열1문자열1문자열1문자열1문자열1'

In [118]:
integer = 10

In [120]:
string1+str(integer)+string2

'문자열110문자열2'

In [124]:
print('안녕하세요\n반갑습니다')

안녕하세요
반갑습니다

In [127]:
statement = '''안녕하세요
반갑습니다
'''
print(statement)

안녕하세요
반갑습니다

In [128]:
date = '2024-07-18'
date = date.replace('-','.')
date

'2024.07.18'

In [133]:
name = '이성계'
age = 56
print (str(name) + '의 나이는' + str(age) +'입니다')

print (f'{name}의 나이는 {age} 입니다.')

이성계의 나이는56입니다
이성계의 나이는 56 입니다.

In [2]:
f'{'abcd':!>20}'

'!!!!!!!!!!!!!!!!abcd'

In [140]:
f'{2345:0>20,}'

'0000000000000002,345'